@page "/EntradaHuacales/Index"
@using Microsoft.AspNetCore.Components.Authorization

@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject EntradasHuacalesServices entradasHuacalesServices


<PageTitle>ENTRADA DE HUACALES</PageTitle>


<div class="container">

    <div class="card shadow-lg">

        <div class="card-header d-flex justify-content-between align-items-end">
            <label class="form-label fw-bold">ENTRADA HUACALES</label>
            <button class="btn btn-outline-primary " @onclick="IrACrear">Crear</button>
        </div>

        <div class="card-body">

            <div class="row mb-3 justify-content-between">

                <div class="col-md-3">
                    <label class="form-label fw-bold">Filtro</label>
                    <select class="form-select" @bind="Filtro">
                        <option value="Fecha">Fecha</option>
                        <option value="NombreCliente">NombreCliente</option>
                        <option value="Cantidad">Cantidad</option>
                        <option value="Precio">Precio</option>
                    </select>
                </div>

                <div class="col-md-10">
                    <label class="form-label fw-bold">Buscar</label>
                    <div class="input-group">
                        @if (Filtro == "Fecha")
                        {
                            <input type="date" class="form-control" value="@ValorFiltro" @onchange="@(e => ValorFiltro = e.Value?.ToString())" />
                        }
                        else
                        {
                            <input type="text" class="form-control" @bind="ValorFiltro" placeholder="Escribe para buscar..." />
                        }
                        <button class="btn btn-outline-secondary" @onclick="Buscar">Buscar</button>
                    </div>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>IdEntrada</th>
                            <th>Fecha</th>
                            <th>NombreCliente</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        @if (ListaHuacales != null)
                        {
                            @foreach (var item in ListaHuacales)
                            {

                                <tr>
                                    <td>@item.IdEntrada</td>
                                    <td>@item.Fecha</td>
                                    <td>@item.NombreCliente</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Precio</td>
                                    <td>
                                        <button class="btn btn-outline-primary" @onclick="() => IrAEditar(item.IdEntrada)">Editar</button>
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <label>Total huacales : @ListaHuacales?.Count</label>
        </div>

    </div>
</div>


@code {

    public string Filtro { get; set; } = String.Empty;
    public string ValorFiltro { get; set; }
    public List<EntradasHuacales> ListaHuacales { get; set; } = new List<EntradasHuacales>();


    protected override async Task OnInitializedAsync()
    {
        ListaHuacales = await entradasHuacalesServices.Listar(en => en.IdEntrada > 0);
    }


    public async Task Buscar()
    {
        if (ValorFiltro != null)
        {
            if (Filtro == "NombreCliente")
            {
                ListaHuacales = await entradasHuacalesServices.Listar(en => en.NombreCliente.ToLower().Contains(ValorFiltro.ToLower()));
            }

            if (Filtro == "Fecha")
            {
                if (DateOnly.TryParse(ValorFiltro, out DateOnly Fecha))
                {
                    ListaHuacales = await entradasHuacalesServices.Listar(e => e.Fecha == Fecha);
                }
            }

            if (Filtro == "Cantidad")
            {
                if (int.TryParse(ValorFiltro, out int Cantidad))
                {
                    ListaHuacales = await entradasHuacalesServices.Listar(e => e.Cantidad == Cantidad);
                }
            }

            if (Filtro == "Precio")
            {
                if (int.TryParse(ValorFiltro, out int Precio))
                {
                    ListaHuacales = await entradasHuacalesServices.Listar(e => e.Precio == Precio);
                }
            }



        }
        else
        {
            Volver();
        }
    }

    public async Task IrACrear() => navigationManager.NavigateTo("/EntradasHuacales/Create");

    private void IrAEditar(int id) => navigationManager.NavigateTo($"/EntradasHucales/Edit/{id}");

    public async Task Editar() => navigationManager.NavigateTo("/EntradasHuacales/Edit/" + 1);

    public async Task Volver() => navigationManager.NavigateTo("/EntradaHuacales/Index");

                                            


}
